.navbar{
    margin-left: 8%;
    

}
#nuro{
    color: rgb(0, 255, 157);
}
.navbar a{
text-decoration: none;
margin:4%;
color: rgb(0, 102, 255);
}
h1{
    text-align: center;
}
.out{
    display: flex;
    gap:5%;
}
.image img{
height: 430px;
width: 500px;
border-radius: 50% 0% 50% 0%;
margin-left: 8%;
}
.Words{
    font-size: 20px;
    margin-left: 12%;
}
#see{
    border-color: aqua;
    border-radius: 10%;
    padding: 10px;
    color: aqua;
}
.end{
    display: flex;
    gap: 25%;
    margin-left: 3%;
    background-color: rgb(142, 164, 194);
    border-radius: 2%;
    margin-top: 5%;
}
.local{
    margin-left: 2%;
    
}

    @media screen and (max-width:368px){
        .out{
                flex-direction: column;
                gap:20%;}
                .end{
                    gap:10% ;
                    font-size: 12px;
                }
                .local{
                    font-size: 12px;
                }
            
                }
    
                @media screen and (max-width:900px){
                    .end{
                    gap: 25%;
                    }
                    .navbar{
                        gap: 4%;
                    }
                    .image img{
                     width: 82%;
                     height: 32%;
                    }
                    .Words{
                        font-size: 30px;
                        margin-left: 8%;
                    }
                    .out{
                        flex-direction: column;
                    }
                }